* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  font-family: "Georgia", serif;
  background-color: #f6e9dd;
  min-height: 100vh;
  padding: 20px;
}

.sidebar {
  width: 160px;
  background-image: url(../assets/imgs/fundo.png);
  border: 1px solid #8b6914;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.button {
  background-color: rgb(249, 243, 228);
  border: 2px solid #6e3f27;
  color: #784805;
  text-align: center;
  padding: 5px 30px;
  border-radius: 20px;
}

.logo-section {
  text-align: center;
  margin-bottom: 60px;
}

.logo-section img {
  width: 100px;
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 0 15px;
}

.menu-item {
  text-decoration: none;
  color: #f5e6d3;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.menu-item.active {
  color: #8b4513;
  border-radius: 4px;
}

.game-container {
  margin-left: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 30px;
  color: #8b4513;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px;
}

.button_final {
  font-family: "PT Serif", serif;
  background-color: rgb(249, 243, 228);
  border: 2px solid #6e3f27;
  color: #784805;
  text-align: center;
  padding: 5px 30px;
  border-radius: 20px;
}

.game-fim {
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  display: none;
  justify-content: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 900px;
  width: 80%;
  margin-bottom: 10px;
  padding: 20px;
}

.card {
  aspect-ratio: 0.7;
  background-image: url(../assets/imgs/card1.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
  border: 1px solid #8b4513;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 5px rgba(138, 95, 35, 0.821);
}

.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  backface-visibility: hidden;
  transition: opacity 0.3s ease;
}

.card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5e6d3;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.card-front img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.card.flipped .card-back {
  opacity: 0;
}

.card.flipped .card-front {
  opacity: 1;
}

.card.matched {
  opacity: 0.6;
  pointer-events: none;
}

.card.matched .card-front {
  opacity: 1;
}

.card.matched .card-back {
  opacity: 0;
}

.score-section {
  text-align: center;
  margin-top: 50px;
  padding: 0 -70px 0 0;
}

.score-text {
  font-size: 15px;
  color: #8b4513;
  font-weight: bold;
  letter-spacing: 1px;
}

#score {
  color: #ba8b15;
}
