* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  background-color: #f6e9dd;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 160px;
  background-image: url(../assets/imgs/fundo.png);
  border: 1px solid #8b6914;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.button {
  background-color: rgb(249, 243, 228);
  border: 2px solid #6e3f27;
  color: #784805;
  text-align: center;
  padding: 5px 30px;
  border-radius: 20px;
}

.logo-section {
  text-align: center;
  margin-bottom: 60px;
}

.logo-section img {
  width: 100px;
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 0 15px;
}

.menu-item {
  text-decoration: none;
  color: #f5e6d3;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 8px 0;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.menu-item.active {
  color: #8b4513;
  border-radius: 4px;
}

.game-container {
  margin-left: 125px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  width: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 80px;
}

.result-title {
  font-size: 28px;
  color: #7b3b17;
  margin-bottom: 30px;
  font-weight: bold;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: normal;
  color: #5a4a3a;
  margin-bottom: 20px;
  line-height: 1.4;
  width: max-content;
}

.highlight {
  color: #a68a4d;
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #5a4a3a;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  color: #5a4a3a;
  margin-bottom: 8px;
}

.section-text {
  font-size: 15px;
  line-height: 1.6;
  color: #5a4a3a;
  padding-left: 20px;
}

.result-content {
  font-size: 18px;
  color: #7b3b17;
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer-text {
  font-size: 16px;
  color: #a68a4d;
  font-style: italic;
  margin-top: 40px;
  text-align: center;
}

.main-content {
  margin-left: 136px;
  flex: 1;
  display: flex;
  padding: 60px 80px;
}
